@import "~bootstrap/scss/bootstrap.scss";
body {
  background: green;
}

#cart {
  background: white;
  margin: 0 auto;
}

#up {
  font-size: 5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

#middle {
  font-size: 6rem;
}

#down {
  font-size: 5rem;
  transform: rotate(180deg);
}
