@import "~bootstrap/scss/bootstrap.scss";
body {
  background: green;
}

#cart {
  background: white;
}

#up {
  font-size: 1rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

#middle {
  font-size: 1rem;
}

#down {
  font-size: 1rem;
  transform: rotate(180deg);
}
